body{
    background-color: hsl(197, 64%, 67%);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: hsl(54, 87%, 64%);
    margin: 20px;
    border: solid 2px black;
    text-align: center;
}

.para{
    color: hsl(120, 6%, 3%);
    font-size: 20px;    
    font-weight: bold;
    text-align: center;

}


.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}